.w3-tangerine {
  font-family: "Tangerine", serif;
}
h1{ text-align: center;
    font-family:verdana;
    font-size: 70px;
    font-weight: bolder;
}
#add, #sort {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
 #add,#sort:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  input[type=text]
  {
    border-radius: 50%;
    text-align: center;
  }
  #myList
  {
    background-color:#4CAF50;
  }
.adresBookImage {
width:50%;
height:200px;
position: relative;
border-radius: 50%;
/* Safari 4.0 - 8.0 */
-webkit-animation-name: example;
-webkit-animation-duration: 4;
-webkit-animation-timing-function: ease;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
/* Standard syntax */
animation-name: example;
animation-duration: 4s;
animation-timing-function: ease;
animation-iteration-count: infinite;
animation-direction: alternate;}
    
    /* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {left:0%; }
  50%  {left:25%; }
  100% {left:50%; }
}

/* Standard syntax */
@keyframes example {
  0%   { left:0%;}
   50%  {left:25%;}
  
  100% { left:50%; }

  }